.icon {
    @apply bg-current inline-block
}

.icon-link {
    @apply bg-current block
}

.icon-chef-hat {
    mask: url("/svg/icons/ChefHat.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    width: 1em;
    height: 1em;
}

.icon-credit-card {
    mask: url("/svg/icons/CreditCard.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    width: 1em;
    height: 1em;
}

.icon-flower-lotus {
    mask: url("/svg/icons/FlowerLotus.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    width: 1em;
    height: 1em;
}

.icon-grains {
    mask: url("/svg/icons/Grains.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    width: 1em;
    height: 1em;
}

.icon-package {
    mask: url("/svg/icons/Package.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    width: 1em;
    height: 1em;
}

.icon-facebook {
    mask: url("/svg/icons/FacebookLogo.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    width: 1em;
    height: 1em;
}

.icon-instagram {
    mask: url("/svg/icons/InstagramLogo.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    width: 1em;
    height: 1em;
}

.icon-shopping-bag {
    mask: url("/svg/icons/ShoppingBagOpen.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    width: 1em;
    height: 1em;
}

.icon-shopping-bag-close {
    mask: url("/svg/icons/ShoppingBag.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    width: 1em;
    height: 1em;
}

.icon-user {
    mask: url("/svg/icons/User.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    width: 1em;
    height: 1em;
}

.icon-eye {
    mask: url("/svg/icons/Eye.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    width: 1em;
    height: 1em;
}

.icon-eye-slash {
    mask: url("/svg/icons/EyeSlash.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    width: 1em;
    height: 1em;
}

.icon-double-chevron {
    mask: url("/svg/icons/ChevronDouble.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    width: 1em;
    height: 1em;
}

.icon-simple-chevron {
    mask: url("/svg/icons/ChevronSimple.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    width: 1em;
    height: 1em;
}

.icon-simple-chevron-bold {
    mask: url("/svg/icons/ChevronLeftBold.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    width: 1em;
    height: 1em;
}

.icon-minus {
    mask: url("/svg/icons/Minus.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    width: 1em;
    height: 1em;
}

.icon-plus {
    mask: url("/svg/icons/Plus.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    width: 1em;
    height: 1em;
}

.icon-delete {
    mask: url("/svg/icons/XCircle.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    width: 1em;
    height: 1em;
}

.icon-google {
    mask: url("/svg/icons/Google.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    width: 1em;
    height: 1em;
}

.icon-close {
    mask: url("/svg/icons/Close.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    width: 1em;
    height: 1em;
}

.icon-building {
    mask: url("/svg/icons/Building.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    width: 1em;
    height: 1em;
}

.icon-phone {
    mask: url("/svg/icons/Phone.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    width: 1em;
    height: 1em;
}

.icon-calendar {
    mask: url("/svg/icons/Calendar.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    width: 1em;
    height: 1em;
}